<!--
  Created by Mark on 2018/4/22.
  Inspired by this web page: https://blog.csdn.net/fifteen718/article/details/50836046 
  you can use request to get value of username, old_password and new_password
 -->
<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Squirrel chat room Register</title>
	<link type="text/css" rel="stylesheet" href="../CSS/change_pwd.css">
</head>
<body>
	<div id="register_frame">  
  		
	    <p id="image_logo"><img src="../images/better_icon.png" alt="Sorry something is wrong:(" width=160px height=100px></p>  
	  
	    <form method="post">  
	  
	        <p><label class="label_input">Username</label><input type="text" id="username" name="username" class="text_field"/></p>  
	        <p><label class="label_input">Old Password</label><input type="password" id="old_password" name="old_password" class="text_field"/></p>
	        
	        <p><label class="label_input">New Password</label><input type="password" id="new_password" name="new_password" class="text_field"/></p>	        
	  
	        <div id="register_control">  
	            <input type="submit" id="btn_register" value="Submit"/>
	        </div>  
	    </form>  
	</div> 

</body>