<!--
  Created by Mark on 2018/4/22.
  Inspired by this web page: https://blog.csdn.net/fifteen718/article/details/50836046 
 -->
<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Squirrel chat room Register</title>
	<link type="text/css" rel="stylesheet" href="/CSS/register.css">
	<!--<script type="text/javascript" src="/js/register.js"></script>  -->
</head>

<body>
	<div id="register_frame">

		<p id="image_logo">
			<img src="/images/better_icon.png" alt="Sorry something is wrong:(" width=160px height=100px>
		</p>

		<form method="post">

			<p>
				<label class="label_input">Username</label>
				<input type="text" id="username" name="username" class="text_field" />
			</p>
			<p>
				<label class="label_input">Password</label>
				<input type="password" id="password" name="password" class="text_field" />
			</p>
			{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
			<ul class=flashes>
				{% for category, message in messages %}
				<li class="{{ category }}">{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %} {% endwith %}
			<div id="register_control">
				<input type="submit" id="btn_register" value="Register" />
			</div>
		</form>
	</div>

</body>